[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
python-dotenv = "*"
fbchat = {git = "https://github.com/carpedm20/fbchat.git",ref = "f480d68b5773473e6daba7f66075ee30e8d737a8"}

[requires]
python_version = "3.6"
